<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="Access-Control-Allow-Origin" content="*" />
  <script src="../js/common/setDpr.js"></script>
  <link rel="stylesheet" href="../css/common/common.css">
  <link rel="stylesheet" href="../css/share.css">
  <title>搜链资讯</title>
</head>

<body contenttype='$!{content.itemType}'>
  <!--固定头部  -->
  <div class="topFixed row flex_alcc flex_jcsb">
    <div class="right_top row flex_alcc flex_jcsb">
      <img src="../img/share/icon_40pt@2x.png">
      <div class="appName">
        搜链资讯
      </div>
    </div>

    <div class="openApp text_center ">
      打开
    </div>

  </div>
  <div class="article" id="article">
    <div class="article_tittle tittle">
      很多功臣被朱元璋所杀，徐达却能逃过一劫，他的做法今天也很管用
    </div>
    <div class="author row flex_alcc flex_jcsb">
      <div class="goAuthorPage row flex_alcc " authorId='777'>
        <img id="autherAvator" src="../img/articleAndMv/16.jpg" alt="">
        <div class="authorName">热点快讯快讯啦</div>
        <div class="readNums">
          <span class="num">9375</span>
          <span class="txtscan">次阅读</span>
        </div>
      </div>

    </div>
    <div class="article_content" id="content">
      <p>明朝历史能说的太多，皇帝朱元璋和大臣徐达的一段故事不仅展示了主仆的智慧周旋，更隐藏着能让我们这些现代人学习的，如何去对待上级的礼数。能让一个人在动了杀你的念头后却因为不忍心而停下，肯定是你对他有很大的恩情。徐达就是这样，明朝建立以前救过朱元璋的命，朱元璋给他下过免死金牌。刚建国的时候，他想过自己有要杀人的长期打算，怕把徐达错杀了，就下了圣旨。我们不得不猜测，这是徐达免于跟其他人一样受难的最大原因。如果没有当年的舍身，今日也会死在皇帝的刀下了。</p>
      <p class="img-wrapper">
        <img src="http://yun.janesi.net/web-test/zhiqu-web/img/placeholder.jpg" data-echo="http://yun.janesi.com/news/20180705/1530756085847e5aa33f6d4.jpg"
          img_ alt="很多功臣被朱元璋所杀，徐达却能逃过一劫，他的做法今天也很管用" is_gif="false" data-index="0" _lazyload_status_="2">
      </p>
      <p>朱元璋杀人可不是开玩笑的。他当皇帝之后定都南京，给有功大臣编织罪名，全都要株连他们家中的九族，该杀的都杀了，算是历代杀人最多的。他当上皇帝之前太贫困，就是要饭的和尚，当了皇帝肯定想让自己的江山永远姓朱，不想让任何人窥探他的权力。</p>
      <p class="img-wrapper">
        <img src="http://yun.janesi.net/web-test/zhiqu-web/img/placeholder.jpg" data-echo="http://yun.janesi.com/news/20180705/15307560859024692704de7.jpg"
          img_ alt="很多功臣被朱元璋所杀，徐达却能逃过一劫，他的做法今天也很管用" is_gif="false" data-index="1">
      </p>
      <p>不过分看中权力正是徐达的保命之处，他教育子女也是十分低调，随后将自己女儿嫁给朱元璋的儿子朱棣，手握的亲家这张王牌也是众多人没有的。可别小看这一点，要知道朱棣也是很受喜爱的。他的性格最像他的父亲，虽不是马皇后的大儿子那般可以继承太子位，却被朱元璋带着到处打仗锻炼，暴脾气以及出色的武艺和父亲一个样儿。徐达的这一步就走得很稳了。</p>
      <p>
        <img src="http://yun.janesi.net/web-test/zhiqu-web/img/placeholder.jpg" data-echo="http://yun.janesi.com/news/20180705/1530756086037d392189cc7.jpg"
          img_ alt="很多功臣被朱元璋所杀，徐达却能逃过一劫，他的做法今天也很管用" is_gif="false" data-index="2" class="next20">
      </p>
      <p>仅仅是亲家又有个牌子在手就能免死，未免小瞧了徐达。抛去这些身份，他本人的聪明就甩那些大臣几条街。作为兵马大元帅为江山里了很大功，胆子相对来说比较小，一点儿狂言都没有，一生跟诸葛亮似的，有军事才能、指挥天才，立功之后从来不表白自己有多大的功，朱元璋也就对他特别网开一面。</p>
      <p>那些大臣自己成天邀功，有一点好处都要迎上，到处做宣传显示自己为大明江山立下过多么大的功，这种就导致朱元璋起了念头要除掉他们。朱元璋的性格熟悉明史的都知道，历史上这么做的也不只他一人，可他算得上的历史上杀人最多的皇帝。</p>
      <p class="img-wrapper">
        <img src="http://yun.janesi.com/news/20180705/1530756086224a6174c4878.jpg" img_="" alt="很多功臣被朱元璋所杀，徐达却能逃过一劫，他的做法今天也很管用"
          is_gif="false" data-index="4" data-preview-src="" data-preview-group="1">
      </p>
      <p>胡惟庸那个案子杀了两万多人，蓝玉的案子也是几万人，火烧庆功楼把大臣烧的也差不多，基本反应慢的大臣都被烧死了。罗织罪名又整死了一批，朱元璋当皇帝下手特别狠。他的意思就是，这个江山是我们家的，你大臣立功没用，万一有野心夺我们家的江山的野心呢？那我就不能客气了。</p>
    </div>
    <div class="label row wrap">
      <div class="tag">历史历史</div>
      <div class="tag">明史</div>
      <div class="tag">胡惟庸与朱元章</div>
      <div class="tag">历史历史</div>
    </div>


  </div>

  <script src="../js/common/zepto.min.js"></script>
  <script src="../js/common/JanesiBridges.js"></script>
  <script src="../js/common/echo.js"></script>
  <script src="../js/shareArticle.js"></script>
  <script type="text/javascript">
    echo.init({
      offset: 1000, //离可视区域多少像素的图片可以被加载
      throttle: 0 //图片延时多少毫秒加载
    })
  </script>
</body>

</html>